*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
  background-color: #1a1c28;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

main{
  display: grid;
  grid-template-areas: 
  'a a a b b'
  'c c d d d'
  'c c e e e';
  gap: 10px;
  width: 50%;
  margin: auto;
}


.a{
  background-color: #eb5020;
  grid-area: a;
  height: 100px;
}

.b {
  background-color: #ffa401;
  grid-area: b;
  width: 100%;
}

.c {
  background-color: #05aa42;
  grid-area: c;
  width: 100%;
}

.d {
  background-color: #01aefd;
  grid-area: d;
  height: 45px;
}
.e {
  background-color: #01aefd;
  grid-area: e;
  height: 45px;
}

footer a{
  text-decoration: none;
}